
h2{
    font-family:"Lato",sans-serif;
    font-size: 70px;
}
.heading{
    background: rgba(255,255,255,0.3);
    margin-top: 20%;margin-left: 20px;margin-right: 20px;
    padding-bottom: 20px;padding-top: 20px;
}
.p1{
    background-image: url(./bgvangogh.jpg);
    background-size:cover;
    padding-bottom: 30%;padding-top:3%;
}
.p2{
    background-color: rgb(70, 70, 70);
    padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;
}
h3{
    color: white;
}
p{
    color: white;text-align:left;
}
.p3{
    background-image:url(sn.jpg);
    background-size: cover;
    padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 20px;
}
.quote{
    font-family: sans-serif;
    font-size:30px;
    color: rgb(241, 238, 238);padding-bottom:10%;margin-left: 20%; margin-right: 10%;margin-top: 3%;
}
.sub{
   background:rgba(255,255,255,0.3);
   margin-left: 40%;margin-right:10%;padding-top:50px;margin-top: 40px;
}
.b11,.b21,.b31{
    font-family: 'Abril Fatface';font-size: 30px;
    color: rgb(26, 26, 26);padding-top: 40px;
}
.link1:link,.link2:link,.link3:link{
    text-decoration: none;
}
.link1:hover,.link2:hover,.link3:hover{
    color:lightseagreen;
    text-decoration: underline;
}
.container{
    width: 400px;
    background: rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
form{
    padding: 50px;
}
label{
    font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;   
    background: rgba(255,255,255,0.6); 
    border-radius: 4px;
}
button{
    width: 40%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 20px;padding-top: 10px;
    background: rgb(168, 166, 166);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size:20px;
}
#ins{
    background-color: transparent;width: 65px;height:65px;margin-left: 10%;
}
#fb{
    background-color: transparent;width: 65px;height:65px;margin-left: 20px;
}